* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 10px 20px;
    background-color: #DE1D51;
    justify-content: space-between;

    .responsive-menu-btn {
        svg {
            width: 30px;
            height: 30px;
            fill: #fff;
        }
    }

    .logo {
        color: #fff;
    }
}

.responsive-menu {
    background-color: #DE1D51;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 20px;
    z-index: 1000;
    transform: translateY(0);
    transition: transform 0.2s ease-out;

    &.hide {
        transform: translateY(-100%);
    }

    .header {
        display: flex;
        padding: 10px 0;
        justify-content: flex-end;

        #close {
            background: transparent;
            font-weight: 700;
            font-size: 2em;
            border: none;
            color: #fff;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 10px 0;

            a {
                text-decoration: none;
                font-size: 1.3em;
                color: #fff;
            }
        }
    }
}

